USE [master]
GO
/****** Object:  Database [STREAMING]    Script Date: 26/10/2022 13:19:14 ******/
CREATE DATABASE [STREAMING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STREAMING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STREAMING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STREAMING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\STREAMING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STREAMING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STREAMING]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 26/10/2022 13:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[NOME] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[IDADE] [int] NOT NULL,
	[SENHA] [varchar](8) NOT NULL,
	[cod_forma_pagamento] [int] NOT NULL,
	[TELEFONE] [varchar](13) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTEÚDO]    Script Date: 26/10/2022 13:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTEÚDO](
	[id_filmes] [int] NULL,
	[id_series] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FILMES]    Script Date: 26/10/2022 13:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FILMES](
	[CATEGORIA] [varchar](20) NOT NULL,
	[DURACAO] [time](7) NOT NULL,
	[ASSISTIDO] [bit] NOT NULL,
	[CODIGO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMA_PAGAMENTO]    Script Date: 26/10/2022 13:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMA_PAGAMENTO](
	[DESCRICAO] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANO]    Script Date: 26/10/2022 13:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANO](
	[Tipo_Plano] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERIES]    Script Date: 26/10/2022 13:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERIES](
	[CATEGORIA] [varchar](20) NOT NULL,
	[EPISODIOS] [time](7) NOT NULL,
	[ASSISTIDO] [bit] NOT NULL,
	[CODIGO] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
